*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

:root {
    --main_transition: 0.3s;
    --main-color: #FF9800;
    --main-padding-top:50px;
    --main-padding-bottom:50px;
}

ul {
    list-style: none;
}

a {

    text-decoration: none;
}


.container
{
    margin: auto;
    width: 90%;
}

/* start setting box */
.setting-box {
    position: fixed;
    left: -200px;
    top: 0;
    width: 200px;
    background-color: white;
    z-index: 100000;
    min-height: 100vh;
 
    transition: var(--main_transition);
    border: 1px solid #eee;
}

.setting-box.open {
    left: 0;
}

.setting-toggle {
    
    position: absolute;
    right: -25px;
    top: 130px;
    background-color: white;
    cursor: pointer;
   
    text-align: center;
    

}

.setting-toggle i {
    font-size: 20px;
    width: 25px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
     padding: 5px 10px ;
    text-align: center;
}

.options-box {
  margin: 10px;
    padding:15px 20px;
    text-align: center;
    background-color: #ececec;
}

.options-box h4 {
   
    margin: 5px 0 0 0;
    color: #666;
}

.options-box ul {
    display: flex;
    margin: 15px 0 0 0;
    text-align: center;
    padding: 0 10px;
    justify-content: space-evenly;
}

.options-box ul li {
     width: 26px;
     height: 26px;

    border-radius: 50%;
cursor: pointer;
border:  3px solid #ececec;
}

.options-box ul li.active
{
    border:  3px solid #fff;
}
.options-box ul li:first-child {
    background-color: #FF9800;
}

.options-box ul li:nth-child(2) {
    background-color: #E91E63;
}

.options-box ul li:nth-child(3) {
    background-color: #009688;
}

.options-box ul li:nth-child(4) {
    background-color:#03A9F4;
}

.options-box ul li:nth-child(5) {
    background-color: #4CAF50;
}
/* end setting box */

/* startbullets */
.bullets
{
    position: fixed;
   
    right: 0;
    width: 40px;
    top: 50%;
    height: 200px;
    z-index: 1000;
    transform: translateY(-50%);
}
.bullet
{
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    background-color: transparent;
    margin:0 auto 15px auto;
    cursor: pointer;
    position: relative;


}
.bullet:hover .tooltip
{
    display: block;
}
.tooltip
{
    background-color: var(--main-color);
    position: absolute;
    right: 32px;
    width: 120px;
   
    text-align: center;
    color: white;
    padding: 5px 10px;
    top: -5px;
    cursor: default;
    font-size: 18px;
    display: none;
}
.tooltip::after
{
    content: '';
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent var(--main-color);
    right: -20px;

}
/* end setting bullets */


/* random backgrounds */

.random-heading
{
    white-space: nowrap;
    font-size: 15px;
}
.options-box div
{
    display: inline-block;
    margin-top: 15px;
    

}
.options-box .yes,.options-box .no{
    font-size: 14px;
    font-weight: bold;
    background-color: var(--main-color);
    color: white;
    padding: 3px 8px;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.5;
}
.RandomBackground span.active,.showBullets span.active
{
    opacity: 1;
}

.reset
{
    display: block;
    margin: auto;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #f79708;
    padding: 5px 10px;
    border-radius: 4px;
    width: 180px;
    font-size: 20px;
}
/* end setting box */
/* start landing */
.landing {
    min-height: 100vh;

    background-image:  url(../imgs/01.jpg);

    background-size: cover;
    background-position: center;
    position: relative;
}
.layout
{
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  
}
nav  
{

    display: flex;
    padding: 5px 0 ;
    align-items: center;
     z-index: 1;
    color: white;
    position: relative;

}
.logo a {
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
    z-index: 1;
}

nav ul {
    margin-left: auto;
    display: flex;
    color: black;

}

nav ul li {
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
    transition: var(--main_transition);
    border-radius: 4px;
    position: relative;

}

.landing nav button{
  
    display: none;
    margin-left: auto;
    color: white;
    border: none;
    background: none;
    border-radius: 5px;
    transition: 0.3s;
    padding: 0;
}
.landing nav  i{
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
    
}

@media (max-width:767px)
{
  .landing nav img
  {
    margin-left: 0;
  }  
}
nav ul li a {
    transition: var(--main_transition);
    color: white;

}

nav ul li a:hover {
    color: var(--main-color);
}

nav ul li::before {
    position: absolute;
    content: '';
    bottom: -6px;
    left: 0;
    background-color: var(--main-color);
    height: 2px;
    width: 0;
    transition: 0.3s;
}

nav ul li:hover::before {

    width: 100%;
}

.intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: capitalize;
    color: white;


}


.intro-text h1 {

    font-size: 35px;
    white-space: nowrap;

}

.intro-text span {
    color: var(--main-color);
}

.intro-text p {
    font-size: 20px;

    line-height: 1.6rem;


}
@media (max-width:768px)
{
    body{
        overflow-x: hidden;
    }
   nav ul 
   {
    display: none;
 
   }
    .intro-text h1
   {
    font-size:22px;
   }
    .intro-text p
   {
    font-size:18px;
    line-height: 1.6;
   }
   .landing nav button {
    display: block;
    position: relative;
    padding: 5px 10px;
   }
   .landing nav button.menu-active::before
   {
    content: '';
    position: absolute;
    left: 10px;
    border-color: transparent transparent white transparent;
    border-style: solid;
    border-width: 15px;
   bottom: -13px;

   }
   nav ul li::before
   {
    display: none;
   }
   ul.open{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    left: 0;
    top: 40px;
   width: 100%;
   height: fit-content;
   padding: 10px 5px;
   border-radius: 4px;

}

.landing nav ul.open li a{
    color: var(--main-color);
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}
}


/* end landing */
/* start about */
.about-us
{
padding-top: var(--main-padding-top);
padding-bottom: var(--main-padding-bottom);
}
.about-us .container
{
    display: flex;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
}

.about-us .info

{
    flex: 2;
}
.about-img
{
    flex: 1;
}
.about-us .info h2{
    font-weight: bold;
    color: var(--main-color);
    font-size: 45px;
    margin: 0 0 20px 0;

}
.about-us .info p{
    line-height: 2rem;
    font-size: 18px;
    color: #666;
    width: 100%;
    
}
.about-img img{
    width: 250px;
}
@media (max-width:991px) {
    .about-us .container
    {
        flex-direction: column;
        width: 100%;
    }
    .about-us .container > div{
        width: 100%;
        flex: 1;
        text-align: center;
    }
    .about-us .container img{
        width: 300px;
        margin-top: 20px;
    }
    .about-us .container p{
        width: 100%;

    }
}
/* end about */
/* start skills */

.skills
{
    background-color: #eee;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);

    
   
}
.skills h2{
    font-size: 45px;
    text-align: center;
    color: var(--main-color);
    margin: 0 0 30px 0;
   
}
.skills .skill-container
{
    background-color: white;
    margin-bottom: 20px;
    height: 50px;
   display: flex;
   align-items: center;
padding: 0 15px;
}
.skills .skill-container .skill-name
{
    font-weight: bold;
    font-size: 18px;
    width: 100px;
}
@media (max-width:768px)
{
    .skills .skill-container .skill-name
    {
        font-size: 15px;
        margin: 10px 0;
        text-align: center;
    } 
    .skills .skill-container
    {
        flex-direction: column;
        margin-bottom: 10px;
      
    }
    .skills .skill-container
    {
        height: 80px;
    }
}
.skills .skill-container .skill-progress
{
    background-color: #ece9e9;
    height: 30px;
    width: 100%;
    border-radius: 6px;
    position: relative;
}
.skills .skill-container .skill-progress span
{
    background-color: var(--main-color);
    position: absolute;
    height: 100%;
     border-radius: 4px;
    left: 0;
    width: 0;
   right: 0;
   transition: 0.7s;
}

/* end skills */

/* start gallery */
.gallery
{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.gallery h2{
    font-size: 45px;
    text-align: center;
    color: var(--main-color);
    margin: 0 0 30px 0;
}
.gallery .img-box
{
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
  
}
.gallery .img-box img{
     width: 250px;
    padding: 3px;
    background-color: #fafafa;
    border: 3px solid #ececec;
    margin: 5px;
    cursor: pointer;

}
.imgsLayout
{
    position: fixed;
 
   right: 0;
   left: 0;
   bottom: 0;
   top: 0;

  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10000;
}
.popup-Box
{
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    padding: 20px;
    z-index: 10001;
    border: 1px solid #ccc;

}
.popup-Box img{
  max-width: 100%;

}
.gallery-alt{
    color: var(--main-color);
    text-align: center;
    margin: 0 0 20px 0;
    font-weight: bold;
    font-size: 22px;
}
.closebtn
{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
    background-color: var(--main-color);
}
@media (max-width:768px)
{
    .gallery .img-box img
    {
        width: 100%
    } 
    .popup-Box
    {
        width: 90%;
    }
}

/* end gallery */
/* start timeline */
.timeline
{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: #eee;
}
.timeline-content
{
    position: relative;
    overflow: hidden;
}
.timeline-content::before
{
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: var(--main-color);
    margin-left: -1px;
z-index: 1;
}
.timeline-content .year
{
    padding: 2px 5px;
    background-color:var(--main-color);
    border-radius: 4px;
    text-align: center;
    width: 50px;
    margin: 20px auto ;
    z-index: 3;
    position: relative;
    font-weight: bold;
    color: white;
}
.timeline-content .left,.timeline-content .right{
  width: calc(50% - 25px);
  background-color: white;
  padding: 10px 15px ;
  position: relative;
}
.timeline-content .left::before,.timeline-content .right::before{
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid var(--main-color);
    position: absolute;
    top: 20px;
  
    z-index: 3;
}
.timeline-content .right::before
{
    left: -35px;
}
.timeline-content .left::before
{
    right: -35px;
}
.timeline-content .left h3,.timeline-content .right h3{
    color: var(--main-color);
    
    font-size: 22px;
}
.timeline-content .left
{
    float: left;
    margin-bottom: 30px;
}
.timeline-content .right
{
    float: right;
}
@media (max-width:768px)
{
    
    .timeline-content .left ,  .timeline-content .right
    {
        width: 100%;
        float: none;
        z-index: 10;
        text-align: center;
    }
}
.timeline-content .left p,.timeline-content .right p{
    color: #666;
    line-height: 1.8;
    padding-bottom: 10px;
    font-size: 17px;
}
/* end timeline */
.clear{
    clear: both;
}
.timeline-content .left .content::before,.timeline-content .right .content::before
{
    content: '';
    border-width: 10px;
    border-style: solid;
   
    top: 20px;
    position: absolute;
    height: 0;
    width: 0;
}
.timeline-content .left .content::before
{
    right: -20px;
    border-color:  transparent transparent transparent #fff;
}

.timeline-content .right .content::before
{
    left: -20px;
    border-color:  transparent #fff transparent transparent;
}

/* start features */
.features
{
    padding: 80px 0;
}
.features h2
{
    font-size: 45px;
    text-align: center;
    color: var(--main-color);
    margin: 0 0 80px 0;
}

.features .container
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    text-align: center;
}
.features .feat-box
{
    margin-bottom: 40px;
    transition: var(--main_transition);
    padding: 5px 0;
}
.features .feat-box:hover
{
    box-shadow: 0 0 5px #777;
    background-color: #ece9e9;
}
.features .feat-box h4
{
    font-size: 22px;
    position: relative;
   
}
.features .feat-box h4::before
{
    content: '';
    background-color: var(--main-color);
    position: absolute;
    height:4px ;
     width: 40px;
    left: 50%;
   transform: translateX(-50%);
    bottom: -10px;
}
.features .feat-box img{
    width: 100px;
}
/* end features */

/* start testimonials */
.testimonials
{
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    margin-bottom: 100px;
}
.testimonials::before,.testimonials::after
{
    content: '';
    width: 50%;
    position: absolute;
    top: 0;
    height: 100%;
}
.testimonials::before
{
    background-color: var(--main-color);
    left: 0;
}
.testimonials .container
{
    z-index: 10;
    
    position: relative;
  
}
.testimonials h2{
  
    color: white;
    position:relative;
    font-size: 35px;

   
    margin: 0 0 80px 0;
}
.testimonials::after
{
    background-color: black;
    right: 0;
}
.testimonials-content
{
   
    justify-content: space-evenly;
  
 display: flex;
 justify-content: space-evenly;
   
}
.testimonials-content div{
    margin:  0 10px;
   background-color: white;
   padding:  10px 5px;

}
.testimonials-content div p
{
      font-style: italic;
      margin-bottom: 15px;
      line-height: 1.8;
      color: #777;
}
.testimonials-content div .content
{
    display: flex;
    align-items: start
}
.testimonials-content div .content img
{
    width: 80px;
    height: 80px;
border-radius: 50%;
}
.testimonials-content div .content h3{
    margin: 0 0 10px 0;
  
}
.testimonials-content div .content h4{
    font-weight: normal;
    color: #777;
    margin: 0 0 -40px 0;
   
   
}
@media (max-width:768px)
{
    .testimonials-content
    {
        flex-direction: column;
    }
    .testimonials-content > div{
        margin-bottom: 20px;
    }
}

/* start contacts */
.contact
{
   padding: 40px 0;
    background-image: url(../imgs/contact.png);
    background-size: cover;
    position: relative;
    padding-bottom: 40px;margin-bottom: 100px;
}

.contact .container{
    position: relative;
    z-index: 2;
}
.contact .overlay
{ 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);

}
.contact h2{
    font-size: 45px;
    text-align: center;
    color: var(--main-color);
    margin: 0 0 40px 0; 
    z-index: 1;
    position: relative;
}
.contact form
{
  /* background-color: #f79708; */
  max-width: 800px;
  margin: auto;
  box-shadow: 1px solid #e0d7d7;
  padding: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form div{
    width: 48%;
}
@media (max-width:767px)
{
  
    .contact form div{
        width: 100%;
    }
}
.contact form  input,.contact textarea
{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
   border: 1px solid #ccc;
   transition: var(--main_transition);
   background-color: #ededed;

    
}
.contact form  input:focus,.contact textarea:focus
{
     outline: none;
     border-color: var(--main-color);

}
.contact form  input:focus:not([type="submit"])::-webkit-input-placeholder,.contact textarea:focus::-webkit-input-placeholder
{
       opacity: 0;
       transition: var(--main_transition);
}



.contact textarea
{

  height: 144px; 
  width: 100%;
  resize: none;
}
.contact form input[type="submit"]
{
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}
/* end contacts */


/* start footer */
footer 
{
    background-color: #111;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
/* end footer */

@media (max-width:768px)
{
    div h2
    {
        font-size: 20px;
        text-align: center;
      
    }
}


/* dark mode */

.dark-mode{
    background-color: #111;

}